* {
	color: whitesmoke;
}

.clr-w {
	background: linear-gradient(-30deg, whitesmoke, white, lightgray);
	color: #555555 !important;
}

.clr-w *  {
	color: #555555 !important;	
}

.clr-w-1 {
	background-color: white;
	color: #555555 !important;
}

.clr-w-1 *  {
	color: #555555 !important;	
}

.clr-w-2 {
	background-color: whitesmoke;
	color: #555555 !important;
}

.clr-w-2 *  {
	color: #555555 !important;	
}

.clr-w-3 {
	background-color: lightgray;
	color: #555555 !important;
}

.clr-w-3 *  {
	color: #555555 !important;	
}

.clr-b-1 {
	background-color: #2cd4f9;
}

.clr-b-2 {
	background-color: #3c93e1;
}

.clr-b-3 {
	background-color: #396cd8;
}

.clr-b-4 {
	background-color: #2b5cc5;
}

.clr-b-5 {
	background-color: #213a98;
}

.clr-b  {
	background: linear-gradient(-70deg, #3c93e1, #2cd4f9, #396cd8, #2b5cc5, #213a98);
}

.clr-r-1 {
	background-color: #f25553;
}

.clr-r-2 {
	background-color: #e92533;
}

.clr-r-3 {
	background-color: #d11d26;
}

.clr-r-4 {
	background-color: #a00d27;
}

.clr-r-5 {
	background-color: #6c0e24;
}

.clr-r  {
	background: linear-gradient(60deg, #e92533, #f25553, #d11d26, #a00d27, #6c0e24);
}
