.bor-wrapper {
	/* background-image: url("http://er.ru/media/i/bg01.jpg"); */
	background-size: cover;
	background-repeat: no-repeat;
	padding: 5%;
	width: 90%;
	height: 100%;
}

.bor-container {
	margin: .3em 3em;
	border-radius: 1em;
	box-shadow: 0 0 .5em rgba(0, 0, 0, .75)
}

.bor-normal {
	margin: 10pt !important;
}

.fotog {
	width: 100%;
	height: auto;
	margin: 10pt;
	border-radius: 5pt;
}

nav {
	height: 50pt;
	line-height: 25pt;
}

footer {
	height: 200pt;
}